body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0px;
  background-image: linear-gradient(to right, #fbfaff, #f5f5ff);
}

h1,
h2,
h3 {
  font-family: 'Titillium Web', sans-serif;
  color: #1d242c;
}

p {
  color: #8f8f8f;
}

.logo {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
}

/*Cover*/
.cover {
  background-image: url("../assets/cover.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: fixed;
}

/*Navigation Bar*/
.navbar {
  background-color: #0175C3;
}

.nav-item {
  padding: 0 12px;
}

/*Title Section*/
#title {
  text-align: left;
}

#title .col {
  width: max-content;
}

#title h1 {
  font-size: 6rem;
  color: white;
}

#title h2 {
  color: white;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#title .container-fluid  {
  background-image: url("../assets/cover.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding:12% 3% 20%;
  box-shadow: inset 0 0 0 100vmax rgba(1, 118, 195, 0.2);
}

/* MOBILE ONLY */
@media screen and (max-width: 1024px) {
  /*REMOVE/CHANGE BACKGROUND IMAGE*/
  #title {
    text-align: center;
  }
  
  #title .container-fluid {
    background-image: linear-gradient(to right, #fbfaff, #f5f5ff);
    padding: 3% 12% 7%;
  }

  /*Fix Cards on Mobile*/
  #cards .info {
    margin-top: 2%;
  }
}

  /*Cards*/
  #cards .container-fluid {
    padding-top: 30%;
    color: transparent;
  }

  #footer .container-fluid {
    padding-top: 6%;
  }

  .card {
    width: 80%;
  }

  .fa-graduation-cap,.fa-code, .fa-gears {
    color: #1D242C;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 69px;
  }

  .feature-icon {
    color: #0176c3;
    margin: 1rem;
  }

  .feature-icon:hover {
    color: white;
  }

  /*Footer*/
  .foot-icon {
    padding: 20px 10px;
    text-decoration: none;
    color: #1d242c;
  }