h1,
h3 {
    color: #023366;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
}

p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    color: black;
    display: inline;
}

/* NAVIGATION BAR */
.navbar h1 {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

.logo {
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 100%;
}

/* CARDS */
#personal,
#toa,
#bio,
#work {
    padding-top: 2%;
}

.card-header {
    background-color: #023366;
    border-color: #023366;
    border-width: 2px;
}

.card-title {
    color: white;
}

.card {
    border-color: #023366;
    border-width: 2px;
    color: #023366;
    width: 90%;
}

.content-padding {
    padding-top: 1%;
    padding-bottom: 1%;
}

/* CARD FONTS */
.card-title {
    font-size: 2rem;
    margin-bottom: 0px;
}

.card-h1 {
    font-size: 1.5rem;
}

#toa .card-body {
    font-size: 1.5rem;
}

/* etc */

ul {
    list-style-type: none;
}

input[type="radio"] {
    margin: 0 10px 0 10px;
}

/* Placeholder text */
::placeholder,
select:required:invalid,
input[type=date]:invalid::-webkit-datetime-edit,
input[type=number]::placeholder {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: gray;
    font-style: italic;
    padding: 1px;
}

.name input {
    width: 15rem;
}

.street {
    width: 15rem;
}

/* Footer */
#footer {
    padding-top: 2%;
}

#footer p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
}

/* HIGHER RES */
@media screen and (min-device-width: 2560px) and (max-device-width: 5000px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .name {
        width: 40rem;
    }

    .street {
        width: 100rem;
    }

    .zip {
        width: 10rem;
    }
}

@media screen and (min-device-width: 1440px) and (max-device-width: 2559px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .name {
        width: 23rem;
    }

    .street {
        width: 40rem;
    }

    .zip {
        width: 10rem;
    }

    #toa .card-body {
        font-size: 1.25rem;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1439px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .name {
        width: 15rem;
    }

    .street {
        width: 15rem;
    }

    .zip {
        width: 10rem;
    }

    #toa .card-body {
        font-size: 1rem;
    }
}